/gsheets-tg-bot-369408-46e1bb455a69.json
/client_secret_793488673293-k7sp1cj82ule2reg5c04jgiugd8lee3f.apps.googleusercontent.com.json
/functions.py
/.idea
/.idea/dataSources.xml
/db_tests.py
constants.py
.ipynb_checkpoints
*.xlsx
*.csv
*.js
*.jpg
*.png
*.db
*.mp4
*.json
*.css
*.log
*.tsv
*.ch
*.gz
*.pem
*.xml
*.key
*.out
*.bak
*.ipynb
*.txt
logs/
venv/*
env/*
ENV/*
htmlcov/*
.vscode/*
jupyter/*
run-local