/service_file_bot.json
/client_secret.json
/functions.py
/.idea
/.idea/dataSources.xml
/db_tests.py
constants.py
.ipynb_checkpoints
*.xlsx
*.csv
*.js
*.jpg
*.png
*.db
*.mp4
*.json
*.css
*.log
*.tsv
*.ch
*.gz
*.pem
*.xml
*.key
*.out
*.bak
*.ipynb
*.txt
logs/
venv/*
env/*
ENV/*
htmlcov/*
.vscode/*
jupyter/*
run-local